.challenges-list {
  list-style: none;
  padding: 0;
}

.challenges-list > li {
  padding: 5px;
}

.challenges-list a {
  text-decoration: blink;
}

.challenges-list .active {
  background-color: #eee;
}

.ace_editor {
  height: 458px;
}

.compiled-code {
  height: 500px;
  border: 1px solid lightgray;
}

.code-container .nav.nav-tabs > li {
  float: left;
}

.check-validation {
  background-color: #31b0d5;
  color: white;
  margin-top: 20px;
  padding: 15px 0;
}

.check-validation .btn {
  margin-left: 10px;
}

.check-validation .info {
  margin-top: 10px;
}