.challenges-list {
  list-style: none;
  padding: 0;
}

.challenges-list > li {
  padding: 5px;
}

.challenges-list > li > a > p {
  height: 0;
  overflow-y: hidden;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.challenges-list > li.active > a > p {
  height: auto;
}

.challenges-list > li > a {
  position: relative;
}

.challenges-list > li > a > .label {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 18px;
  z-index: 10;
  display: none;
}

.challenges-list > li.active > a > .label {
  display: inline-block;
}

.challenges-list > li > a > .hints {
  color: darkgray;
  display: none;
}

.challenges-list > li.active > a > .hints {
  display: block;
}

.challenges-list a {
  text-decoration: blink;
}

.challenges-list .active {
  background-color: #eee;
}

.ace_editor {
  height: 458px;
}

.compiled-code {
  height: 500px;
  border: 1px solid lightgray;
}

.code-container .nav.nav-tabs > li {
  float: left;
}

.check-validation {
  background-color: #31b0d5;
  color: white;
  margin-top: 20px;
  padding: 15px 0;
}

.check-validation .btn {
  margin-left: 10px;
}

.check-validation .info {
  margin-top: 10px;
}