.challenges-list {
  list-style: none;
  padding: 0;
}

.challenges-list > li {
  padding: 5px;
}

.challenges-list a {
  text-decoration: blink;
}

.challenges-list .active {
  background-color: #eee;
}

.ace_editor {
  height: 458px;
}

.compiled-code {
  height: 500px;
  border: 1px solid lightgray;
}

.code-container .nav.nav-tabs > li {
  float: left;
}