<% meta title: "اتصل بنا" %>
<% meta description:" أذا كان لديك أي سؤال أو اقتراح أو ملاحظة يمكنك التواصل مع BitCode من هنا "%>
<% meta og: {image: "http://bit-code.net/image.png"} %>
<% meta twitter: {card: "summary",  site: "@BitCodeAR" }%>

<div class="container">
<!-- Content Row -->
  <div class="row">
    <!-- Contact Details Column -->
    <div class="col-md-4">
      <h3>معلومات الإتصال بنا</h3>
      <p>
        سوريا، دمشق، برامكة، المنطقة الحرة.<br>
      </p>
      <p><i class="fa fa-phone"></i>
        <abbr title="Phone"></abbr>:+963 (0) 962412986</p>
      <p><i class="fa fa-envelope-o"></i>
        <abbr title="Email"></abbr>: <a href="mailto:info@bit-code.net">info@bit-code.net</a>
      </p>

      <ul class="list-unstyled list-inline list-social-icons">
        <li>
          <a href="https://facebook.com/BitCodeAR"><i class="fa fa-facebook-square fa-2x"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/BitCodeAR"><i class="fa fa-twitter-square fa-2x"></i></a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCe2UbCAARD1ftAIbSsVhaYg"><i class="fa fa-youtube-square fa-2x"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- /.row -->

<%= render 'layouts/footer' %>
