<div class=home-cover>
  <div class="container">
    <div class="col-sm-12">
      <h2>تعلم المهارات التي تحتاجها لتنطق في عالم برمجة الويب <br>
      بطريقة تفاعلية، وباللغة العربية!
      </h2>
      <br>
      <p> <%= link_to "أبداً الرحلة الآن", courses_path, :class => "btn btn-primary btn-lg"%> <%= link_to "شاهد الفيديو", root_path, :class => "btn btn-primary btn-lg"%></p>
    </div>
  </div>
</div>

<div class="jumbotron">
<div class="container home-content">
<div class="row ">

      <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <span class="fa-stack fa-5x">
                      <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="panel-body">
              <h4>تعلم بطريقة تفاعلية</h4>
              <p>في BitCode ستتعلم البرمجة من خلال كتابة الكود بيديك بشكل مباشر، لا أمثلة مملة، ولا فيديوهات طويلة.. بل تحديات برمجية ممتعة بإنتظارك.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
          <div class="panel-heading">
              <span class="fa-stack fa-5x">
                      <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                </span>
          </div>

            <div class="panel-body">
              <h4>تعلم بالعربية!</h4>
              <p>إن المحتوى الموجود في BitCode متوفر باللغة العربية، لا توجد حاجة أبداً لتعلمك الإنكليزية لتبدأ رحلة التعلم على الـ BitCode.</p>
            </div>
        </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
          <div class="panel-heading">
              <span class="fa-stack fa-5x">
                      <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                </span>
          </div>
            <div class="panel-body">
              <h4>تعلم بشكل مجاني</h4>
<p>  إن رحلة تعلمك مع BitCode في عالم تطوير الويب ستكون مجانية. لست بحاجة إلى دفع أشتراكات شهرية أو غيرها لتعلمك مع BitCode.</p>
          </div>
  </div>
</div>

  <div class="col-md-3 col-sm-6">
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <span class="fa-stack fa-5x">
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
              </span>
        </div>
          <div class="panel-body">
            <h4>تعلم مهنة المستقبل</h4>
            <p>في غضون عام 2020 ستكون هنالك أكثر من 4.3 مليون فرصة عمل للمطورين أمثالك، لذلك ماذا تنتظر لتعلم مهنة المستقبل.</p>          </div>
        </div>
      </div>

</div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 text-left">
      <img src="http://www.codeavengers.com/images/home/screen-vector.png" alt="" />

    </div>

    <div class="col-md-6 col-sm-6 content-text">
      <h2>تعلم البرمجة بالشكل الصحيح</h2>
      <p>
هنا في BitCode ستقوم بتعلم البرمجة بشكل عملي من خلال كتابة الكود بشكل مباشر على المتصفح. لن تجد أمثلة طويلة مملة، أو مقاطع مرئية طويلة ومعقدة، بل ستجد تحديات ممتعة بتتنرك لحلها.      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6 col-sm-6 content-text">
<h2>لن تحتاج إلى أكثر من 12 ساعة لإنتهاء من الكورس</h2>
 <p>
لن تحتاج إلى أكثر من 12 ساعة لتقوم بالإنتهاء من تعلم أحد الكورسات على الـ BitCode. حيث قمنا بتصميم الكورسات وإنتاج المحتوى بشكل سلسل وبسيط وغير معقد بحيث يساعد المستخدم من الإنتهاء من الكورس بأسرع وقت ممكن ع حصوله على كامل المعلومات التي يحتاجها امستخدم.     </div>

    <div class="col-md-6 col-sm-6 text-right ">
      <img src="http://www.codeavengers.com/images/home/course-timing.png" alt="" />
    </div>
  </div>

  <hr>
  <div class="row">

  <div class="col-md-6 col-sm-6 text-left">
    <img src="http://www.codeavengers.com/images/home/app-icons-vector.png" alt="" />

  </div>

  <div class="col-md-6 col-sm-6 content-text">
    <h2>ستقوم بالتعلم بالعربية!</h2>
    <p>
نحن جداً فخورين في BitCode بتقدم محتوى عربي رائع وإحترافي للنساعدك في تعلم برمجة تطبيقات الويب... كل المحتوى الموجود حالياً في BitCode والمحتوى الذي سيضاف في المستقبل سيكون باللغة العربية الفصحة.
</p>
  </div>

</div>
<hr>

</div>

<div class="home-singup">
  <div class="container">
    <div class="col-sm-12">
      <h2>سجل الآن في BitCode وأبدأ رحلتك في تعلم برمجة تطبيقات الويب بالعربية، ومجاناً!</h2>
      <p> <%= link_to "أبداً الرحلة الآن", courses_path, :class => "btn btn-primary btn-lg"%></p>

    </div>
  </div>
</div>

<div class=" container page-header">
  <h1>الدورات التعليمية في BitCode:</h1>
</div>

<div class="container">

<div class="col-md-6 col-md-offset-3">
  <div class="list-group">
    <a href="#demo" onclick="return false;" class="list-group-item " data-toggle="collapse" data-target="#more1" >
      <h4 class="list-group-item-heading">أساسيات الويب HTML 1</h4>
      <p class="list-group-item-text">
      هنا ستكون أول خطواتك في عالم برمجة الويب، في هذا الكورس ستتعرف على طريقة عمل الإنترنت بشكل عامل، وطريقة عمل المتصفح مع بعض المعلومات الاولية عن الـ css, html, Javascript وستبدأ بعض التحديات الرائعة عن الـ HTML لتقوم بإنشاء أول صفحة ويب لك.
      </p>
      <div id="more1" class="collapse">
test text text
      </div>
    </a>
  </div>

  <div class="list-group">
    <a href="#demo" onclick="return false;" class="list-group-item " data-toggle="collapse" data-target="#more2" >
      <h4 class="list-group-item-heading">أساسيات الويب CSS 1</h4>
      <p class="list-group-item-text">
      بعد ما قمت بإضافة المحتوى إلى صفحتك الـ HTML الخاص بك في الكورس السابق، حان الوقت لإضافة بعض الألوان والمؤثرات المرئية الأخرى، لإضافة صورة جمالية للصفحة الويب الخاص بك، تحديثات قوية بإنتظارك في الكورس الثاني من أساسيات الويب.
      </p>
    <div id="more2" class="collapse">
test text text
    </div>
  </a>

  </div>

  <div class="list-group">
    <a href="#demo" onclick="return false;" class="list-group-item " data-toggle="collapse" data-target="#more3" >
      <h4 class="list-group-item-heading">أساسيات الويب JavaScript </h4>
      <p class="list-group-item-text">
      ما رأيك بإضافة بعد المرثرات والحركات الخفيفة للصفحتنا،  هنا في هذا الكورس سنتعلم كيف بإمكاننا أن نقوم بإضافة بعض الحركات والروح لصفحة الـ html العادي. وكيف بإمكاننا أن نقوم بجعل الصفحة تفاعلية قدر الإمكان.
      </p>
      <div id="more3" class="collapse">
test text text
      </div>
    </a>
  </div>

  <div class="list-group">
    <a href="#demo" onclick="return false;" class="list-group-item " data-toggle="collapse" data-target="#more4" >
      <h4 class="list-group-item-heading">المرحلة المتقدمة من html 2</h4>
      <p class="list-group-item-text">
      بعد ما تعرفت على ألية عمل الويب في الكورسات الماضي، حان الوقت للإحتراف في الـ html والتعمق بشكل كامل بها، هنا ستتعلم بقية الأمور المتعلقة بالـ Html . تحديات جديدة بإنتظارك، فهل أنت مستعد لها؟
      </p>
      <div id="more4" class="collapse">
        <p>
          test test showing up
        </p>
      </div>
    </a>
  </div>
</div>
</div>


<%= render 'layouts/footer' %>
