<%= render 'layouts/navbar' %>

<div class=home-cover>
  <div class="container">
    <div class="col-sm-12">
      <h2>تعلم المهارات التي تحتاجها لتنطق في عالم برمجة الويب <br>
      بطريقة تفاعلية، وباللغة العربية!
      </h2>
      <br>
      <p> <%= link_to "أبداً الرحلة الآن", courses_path, :class => "btn btn-primary btn-lg"%> <%= link_to "شاهد الفيديو", root_path, :class => "btn btn-primary btn-lg"%></p>
    </div>
  </div>
</div>

<div class="jumbotron">
<div class="container home-content">
<div class="row ">

      <div class="col-md-3 col-sm-6">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <span class="fa-stack fa-5x">
                      <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="panel-body">
              <h4>تعلم بطريقة تفاعلية</h4>
              <p>في BitCode ستتعلم البرمجة من خلال كتابة الكود بيديك بشكل مباشر، لا أمثلة مملة، ولا فيديوهات طويلة.. بل تحديات برمجية ممتعة بإنتظارك.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
          <div class="panel-heading">
              <span class="fa-stack fa-5x">
                      <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                </span>
          </div>

            <div class="panel-body">
              <h4>تعلم بالعربية!</h4>
              <p>إن المحتوى الموجود في BitCode متوفر باللغة العربية، لا توجد حاجة أبداً لتعلمك الإنكليزية لتبدأ رحلة التعلم على الـ BitCode.</p>
            </div>
        </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default text-center">
          <div class="panel-heading">
              <span class="fa-stack fa-5x">
                      <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                </span>
          </div>
            <div class="panel-body">
              <h4>تعلم بشكل مجاني</h4>
<p>  إن رحلة تعلمك مع BitCode في عالم تطوير الويب ستكون مجانية. لست بحاجة إلى دفع أشتراكات شهرية أو غيرها لتعلمك مع BitCode.</p>
          </div>
  </div>
</div>

  <div class="col-md-3 col-sm-6">
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <span class="fa-stack fa-5x">
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
              </span>
        </div>
          <div class="panel-body">
            <h4>تعلم مهنة المستقبل</h4>
            <p>في غضون عام 2020 ستكون هنالك أكثر من 4.3 مليون فرصة عمل للمطورين أمثالك، لذلك ماذا تنتظر لتعلم مهنة المستقبل.</p>          </div>
        </div>
      </div>

</div>
</div>
</div>


<div class=" container page-header">
  <h1>الدورات التعليمية في BitCode:</h1>
</div>


<%= render 'layouts/footer' %>
