<div class=home-cover>
  <div class="container">
    <div class="col-sm-12">
      <h2>تعلم المهارات التي تحتاجها لتنطق في عالم برمجة الويب <br>
      بطريقة تفاعلية، وباللغة العربية!
      </h2>
      <br>
      <p> <%= link_to "أبداً الرحلة الآن", courses_path, :class => "btn btn-primary btn-lg"%> <%= link_to "شاهد الفيديو", root_path, :class => "btn btn-primary btn-lg"%></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row home-content">
    <div class="col-md-6 phote-content1">
      <img src="/assets/home-content1.jpg" alt="" />
    </div>
    <div class="col-md-6 text-content1">
      <h2>هذا عنوان، يمكن تغيره لاحقاً</h2>
      <h5>
هنا مجرد نص، يمكن حذفه تعديله، لاحقاً. سيتم تكرار النص أكثر من مرة لتعبئة المساحة، واختبار التصميم
      </h5>
    </div>
  </div>
<hr>
  <div class="row home-content">
    <div class="col-md-6 text-content2">
      <h2>هذا عنوان، يمكن تغيره لاحقاً</h2>
      <h5>
هنا مجرد نص، يمكن حذفه تعديله، لاحقاً. سيتم تكرار النص أكثر من مرة لتعبئة المساحة، واختبار التصميم
      </h5>
    </div>
    <div class="col-md-6 phote-content2">
      <img src="/assets/home-content1.jpg" alt="" />
    </div>
  </div>
<hr>
  <div class="row home-content">
    <div class="col-md-6 phote-content1">
      <img src="/assets/home-content1.jpg" alt="" />
    </div>
    <div class="col-md-6 text-content1">
      <h2>هذا عنوان، يمكن تغيره لاحقاً</h2>
      <h5>
هنا مجرد نص، يمكن حذفه تعديله، لاحقاً. سيتم تكرار النص أكثر من مرة لتعبئة المساحة، واختبار التصميم
      </h5>
    </div>
  </div>
</div>
