<div class=home-cover>
  <div class="container">

    <div class="col-sm-12">
      <h2>تعلم المهارات التي تحتاجها لتنطق في عالم برمجة الويب <br>
      بطريقة تفاعلية، وباللغة العربية!
      </h2>
      <br>
      <p> <%= link_to "أبداً الرحلة الآن", courses_path, :class => "btn btn-primary btn-lg"%> <%= link_to "شاهد الفيديو", root_path, :class => "btn btn-primary btn-lg"%></p>

    </div>

  </div>

</div>
