<div class=home-cover>
  <div class="container">

    <div class="col-sm-6">
      <img src="/assets/logo-header.png" alt="BitCode Logo" />
    </div>

    <div class="col-sm-6">
      <h2>تعلم المهارات التي تحتاجها لتنطلق في عالم برمجة الويب بطريقة تفاعلية!</h2>
      <p> <%= link_to "أبداً الرحلة الآن", root_path, :class => "btn btn-primary btn-lg"%></p>
    </div>

  </div>

</div>
