<div class="row signin-form">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2><%= t('account.login') %></h2>

    <%= render 'devise/sessions/new' %>

    <%= render "devise/shared/links" %>
  </div>
</div>
