<%# @TODO FIND BETTER SOLUTION %>
<style>
  body {
    background-color: #f7f7f7;
  }
</style>

<div class="container">
  <h1><%= t('courses.my_courses') %></h1>

  <div class="row courses-list">
    <% @courses.each do |course| %>
      <%= render 'course_block', course: course %>
    <% end %>
  </div>
</div>