<div class="row">
  <div class="col-md-8 col-md-offset-2 chapters_list">
    <% @chapters.each do |chapter| %>
      <div class="list-group">
        <%= link_to course_chapter_path(chapter.course, chapter), class: "list-group-item" do %>
          <h4 class="list-group-item-heading"><%= chapter.title %></h4>
          <p class="list-group-item-text"><%= chapter.desc %></p>
          <% if chapter.challenges.length > 0 %>
            <br>
          <% end %>
          <ul>
            <% chapter.challenges.each do |challeng| %>
              <li> <%= challeng.name %> </li>
            <% end  %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
