<div class="container">
  <h1>
    <%= @chapter.title %>
    <small>
      <%= link_to t('challenges.see_challenges'), course_chapter_challenges_path(params[:course_id], params[:id]) %>
    </small>
  </h1>
  <p>
    <%= @chapter.desc %>
  </p>

  <div class="video-container">
    <iframe src="<%= @chapter.youtube_url %>?rel=0&amp;showinfo=0" frameborder="0"" style="width: 800px !important;height: 450px !important;">
    </iframe>
  </div>
</div>
<br>
<div class="video-challaneg text-center">
  <button type="button" class="btn btn-primary btn-lg">إلى التحديات!</button>
</div>
