<% content_for :head_tags do %>
  <%= stylesheet_link_tag    'angular/angular', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'angular/angular', 'data-turbolinks-track' => true %>
<% end %>

<div class="container-fluid" ng-app="bitCodeApp" ng-controller="ChallengesCtrl">
  <p id="notice"><%= notice %></p>

  <h1><%= t('challenges.list') %></h1>
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <div ng-repeat="challenge in challenges">
        <h3>{{ challenge.name }}</h3>
        <p>{{ challenge.desc }}</p>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="compiled-code" compile="code"></div>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div ui-ace="{
        useWrapMode : true,
        theme: 'vibrant_ink',
        mode: '{{ code_type }}',
        onLoad: aceLoaded,
      }" ng-model="code"></div>
    </div>
  </div>
</div>