.navbar-color {
  background-color: #1695a3;
  border-color: #157C88;
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-brand-color {
  height:0px;
}

.navbar-brand-color img{
  margin-top:-15px;
}

.navbar-default.navbar-color .navbar-nav > li > .dropdown-menu {
  background: #1695A3;
}

.navbar-default .navbar-toggle .icon-bar {
  background: white;
}

.dropdown2 {
  list-style-type: none;
}

.dropdown2 > li > a {
  color: #FFFFFF;
  border: 2px;
}

.dropdown2 > li > a:hover,
.dropdown2 > li > a:focus {
  color: #ecdbff;
  background: transparent;
}
