// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
  //background-color: #1695a3;
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-cover {
  text-align: center;
  padding-top: 150px;
  min-height: 500px;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("/assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-top: -100px;
}

.home-cover h2 {
  line-height: 1.5;
  direction: rtl;
  color: #FFFFFF;
  font-family: 'Noto Kufi Arabic', serif;
}

.home-cover a{
  color: white;
}

.home-cover a:visited {
  color: white;
}

/* home content */
.home-content {
  padding-top: 20px;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 60px;
}

.jumbotron p {
  font-size: 14px;
}

.panel-heading {
  background-color:#337ab7;
}

.panel-default > .panel-heading {
  background-color:#337ab7;
}

.item {
    display:block;
}

.carousel-caption{
    color:#000;
    position:static;
}
