<p>مرحبا <%= @resource.email %>!</p>

<p>لقد طلبت إستعادة كلمة المرور الخاصة بحسابك في موقع خمسات. <br>
  إذا كنت ترغب بتغيير كلمة المرور الخاصة بك يرجى الضغط على الرابط التالي:
</p>

<p><%= link_to 'تغير كلمة السر', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>ان لم تقم بذلك، يمكنك تجاهل هذا البريد.</p>
