<div class="footer">
  <div class="row">
    <div class="col-md-2 links_footer">
      <ul>
       <li> <a href="#">الكورسات</a></li>
       <li> <a href="#">عن الموقع</a></li>
       <li> <a href="#">المدونة</a></li>
       <li> <a href="#">اتصل بنا</a></li>
     </ul>
    </div>

    <div class="col-md-6 social-footer">
      <h5>تابعنا على:</h5>
           <ul>
             <li> <a href="#"><img class= "sm-footer" src="/assets/social-media-icon/tw.png" alt="" /></a></li>
             <li> <a href="#"><img class= "sm-footer" src="/assets/social-media-icon/fb.png" alt="" /></a></li>
             <li> <a href="#"><img class= "sm-footer" src="/assets/social-media-icon/yt.png" alt="" /></a></li>
           </ul>
    </div>
    <div class="col-md-4 info-footer">
        <p>
          في BitCode ستقوم بتعلم المهارات الأساسية التي تحتاجها لتنطلق في عالم تطوير الويب، بطريقة تفاعلية وباللغة العربية!
          <h6>Powered By:</h6>
        </p>
          <div class="info-footer-gp">
            <a href="#"><img src="/assets/GP7.png" alt="GamePower7" /></a>
          </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 footer-copy">
      <h6>جميع الحقوق محفوظة لـ BitCode &copy; 2015</h6>
    </div>

  </div>

</div>
